*~
*.8
*.buildinfo
*.changes
*.deb
*.ddeb
*.dsc
*.la
*.lo
*.o
*.rpm
*.spec
*.tar.gz
*.tar.xz
.deps
.libs
aclocal.m4
autom4te.cache
build_debs.sh
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
moc_*
rc.amand
aman/aman
amanctl/amanctl
amand/amand
amanrmt/amanrmt
debian/changelog
tests/sqltorture